<section id="{{id}}" class="sg-component-example">
  <header class="sg-component-example__header">
    <h{{level}}>{{title}}</h{{level}}>
  </header>
  <div class="sg-component-example__body">
    {{#each items}}
      {{partial type data}}
    {{/each}}
  </div>
</section>
